body {
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    color: #002757;
    background-color: #e9f3f8;
}

main {
    margin-left: 5em;
    margin-right: 5em;
    display: flex;
}

section {
    flex: 1;
}

.grid {
    display: flex;
}

.grid-column {
    flex: 1;
    margin-right: 1em;
    background-color: #9FDAF9;
}

.grid-column h2 {
    text-align: center;
}

.grid-column ol {
    list-style-type: none;
    padding: 0;
}

.ticket {
    display: flex;
    flex-direction: column;
    min-height: 8em;
    background-color: #FFFF88;
    margin: 1em;
}

.ticket-title {
    align-self: flex-start;
    margin: 0.5em;
}

.ticket-description {
    align-self: center;
    margin-bottom: auto;
    font-style: italic;
}

.ticket-person {
    align-self: flex-end;
    margin: 0.5em;
}

textarea {
    resize: none;
}